body{
    background-color: green;
    color: white;
}

h1{text-align:center;} 

.ppp{color: aqua;}

#hiuz{border-radius: 20px; float: right ;
}

#maki{border-radius: 20px;
}

#hippo{border-radius: 20px;
}


